<!DOCTYPE html> <!-- this just specifies that this is an html file-->
<html>  
    <head>
        <meta charset="utf-8"> <!--standard. turns our code into 8 bit or smth. always add-->
        <meta name="viewport" content = "width=device-width, initial-scale=1"> <!-- will allow website to resize depending on laptop/phone etc-->
        <title>Feedback</title> <!--this part is what appears on the tab header-->
    
         <!-- fonts -->
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"> <!-- regular weight -->
         <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet"> <!-- diff weight -->

        <link rel="stylesheet" href="../static/styles.css" /> <!-- this is where we'll load in the css file-->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?"/>
    </head>
    <body>
        <div class = "header">Student Feedback</div>
        <div class = "nav_bar">
            <ul>
                <li>
                    <a href = "{{ url_for('welcome') }}" class = "bttn">Home</a>
                </li>
                <li>
                    <a href = "{{ url_for('profile') }}" class = "current-bttn">Profile</a>
                </li>
                <li>
                    <a href = "{{ url_for('announcements') }}" class = "bttn">Announcements</a>
                </li>
                <li>
                    <a href = "{{ url_for('syllabus') }}" class = "bttn">Syllabus</a>
                </li>
                <li>
                    <a href = "{{ url_for('lectureSlides') }}" class = "bttn">Lectures</a>
                </li>
                <li>
                    <a href = "{{ url_for('assignments') }}" class = "bttn">Assignments</a>
                </li>
                <li>
                    <a href = "{{ url_for('labs') }}" class = "bttn">Labs</a>
                </li>
                <li>
                    <a href = "{{ url_for('officeHours') }}" class = "bttn">Office Hours</a>
                </li>
                <li>
                    <a href = "{{ url_for('piazza') }}" class = "bttn">Piazza</a>
                </li>
                <li>
                    <a href = "{{ url_for('markus') }}" class = "bttn">Markus</a>
                </li>
                <li>
                    <a href = "{{ url_for('courseTeam') }}" class = "bttn">Course Team</a>
                </li>
            </ul>
        </div>
        <div class = "content">
            <div class = "feedbackContent">
                <form id="form1">
                    <div class="divTable">
                        <div class="headRow">
                            <div class="divCell">Instructor Utorids</div>
                            
                        </div>
                        {% for Instructor in query_instructor_result %}
                    
                        <div class="divRow">
                            <div class="divCell">{{ Instructor.utorid }}</div>
                        </div>
                        
                        {% endfor %} 
                    </div>
                </form>
                <h3>Add feedback for an instructor:</h3>
                <br>
                <form action="/feedbackStudent" method = "post" class="remarkForm">
                    <label for="instructor_id">Instructor Utorid</label>
                    <input type="text" id="Instructor_ID" name="Instructor_ID" class="remarkLabel">
                    <br>
        
                    <label for="q1"> What do you like about the instructor teaching?</label>
                    <input type="text" id="Q1" name="Q1" class="remarkLabel">
                    <br>
        
                    <label for="q2"> What do you recommend the instructor to do to improve their teaching?</label>
                    <input type="text" id="Q2" name="Q2" class="remarkLabel">
                    <br>
        
                    <label for="q3"> What do you like about the labs?</label>
                    <input type="text" id="Q3" name="Q3" class="remarkLabel">
                    <br>
        
                    <label for="q4"> What do you recommend the lab instructors to do to improve their lab teaching?</label>
                    <input type="text" id="Q4" name="Q4" class="remarkLabel">
                    <br>
                    
                    <button type="submit" class="submit-bttn">Submit</button>
                </form>
                <br>
            </div>
        </div>
    </body>
    <footer>
        <div class = 'footer_text'>
            <div class = footer_link>
                <a href = "https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target = "_blank"> Faculty of Computer Science @ UofT </a>
            </div>
            <div class = 'footer_blurb'>Website Designed + Developed by Shaahid and Sharon</div>
        </div>
    </footer>
</html>