<!DOCTYPE html> <!-- this just specifies that this is an html file-->
<html>  
    <head>
        <meta charset="utf-8"> <!--standard. turns our code into 8 bit or smth. always add-->
        <meta name="viewport" content = "width=device-width, initial-scale=1"> <!-- will allow website to resize depending on laptop/phone etc-->
        <title>Lecture Slides</title> <!--this part is what appears on the tab header-->
    
         <!-- fonts -->
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"> <!-- regular weight -->
         <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet"> <!-- diff weight -->

        <link rel="stylesheet" href="../static/styles.css" /> <!-- this is where we'll load in the css file-->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?"/>
    </head>

    <body>
        <div class = "header">Lecture Material</div>
        <br>
        <div class = "nav_bar">
            <ul>
                <li>
                    <a href = "{{ url_for('welcome') }}" class = "bttn">Home</a>
                </li>
                <li>
                    <a href = "{{ url_for('profile') }}" class = "bttn">Profile</a>
                </li>
                <li>
                    <a href = "{{ url_for('announcements') }}" class = "bttn">Announcements</a>
                </li>
                <li>
                    <a href = "{{ url_for('syllabus') }}" class = "bttn">Syllabus</a>
                </li>
                <li>
                    <a href = "{{ url_for('lectureSlides') }}" class = "current-bttn">Lectures</a>
                </li>
                <li>
                    <a href = "{{ url_for('assignments') }}" class = "bttn">Assignments</a>
                </li>
                <li>
                    <a href = "{{ url_for('labs') }}" class = "bttn">Labs</a>
                </li>
                <li>
                    <a href = "{{ url_for('officeHours') }}" class = "bttn">Office Hours</a>
                </li>
                <li>
                    <a href = "{{ url_for('piazza') }}" class = "bttn">Piazza</a>
                </li>
                <li>
                    <a href = "{{ url_for('markus') }}" class = "bttn">Markus</a>
                </li>
                <li>
                    <a href = "{{ url_for('courseTeam') }}" class = "bttn">Course Team</a>
                </li>
            </ul>
        </div>
        <div class = "content">
            <div class = "lecturesContent">
                <br>
                <div class = "indexContent">
                    <p>Ensure that all lecture slides are read prior to atending lecture that week.</p>
                </div>
                <form id="form1">
                    <div class="divTable">
                        <div class="headRow">
                            <div class="divCell">Date (Week)</div>
                            <div  class="divCell">Topic</div>
                            <div  class="divCell">Lecture Notes</div>
                        </div>
                        <div class="divRow">
                            <div class="divCell">January 10th (Week 1)</div>
                            <div class="divCell">Introduction</div>
                            <a href = https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1_handout.pdf target = "_blank" class="divCell">Lecture1.pdf</a>
                        </div>
                        <div class="divRow">
                            <div class="divCell">January 17th (Week 2)</div>
                            <div class="divCell">Relational Algebra</div>
                            <a href = https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1_handout.pdf target = "_blank" class="divCell">Lecture2.pdf</a>
                        </div>
                        <div class="divRow">
                            <div class="divCell">January 24th (Week 3)</div>
                            <div class="divCell">Starting SQL</div>
                            <a href = https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1_handout.pdf target = "_blank" class="divCell">Lecture3.pdf</a>
                        </div>
                        <div class="divRow">
                            <div class="divCell">January 31st (Week 4)</div>
                            <div class="divCell">SQL Queries</div>
                            <a href = https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1_handout.pdf target = "_blank" class="divCell">Lecture4.pdf</a>
                        </div>
                        <div class="divRow">
                            <div class="divCell">February 7th (Week 5)</div>
                            <div class="divCell">Intro to Web Development</div>
                            <a href = https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1_handout.pdf target = "_blank" class="divCell">Lecture5.pdf</a>
                        </div>
                        <div class="divRow">
                            <div class="divCell">February 14th (Week 6)</div>
                            <div class="divCell">Intro to Flask, HTML, & CSS</div>
                            <a href = https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1_handout.pdf target = "_blank" class="divCell">Lecture6.pdf</a>
                        </div>
                        <div class="divRow">
                            <div class="divCell">February 28th (Week 8)</div>
                            <div class="divCell">Midterm Exam (In-class)</div>
                            <a href = https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1_handout.pdf target = "_blank" class="divCell">Sample Midterm.pdf</a>
                        </div>
                        <div class="divRow">
                            <div class="divCell">March 7th (Week 9)</div>
                            <div class="divCell">Media Queries, Intro to JavaScript</div>
                            <a href = https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1_handout.pdf target = "_blank" class="divCell">Lecture9.pdf</a>
                        </div>
                        <div class="divRow">
                            <div class="divCell">March 14th (Week 10)</div>
                            <div class="divCell">Flask and SQL</div>
                            <a href = https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1_handout.pdf target = "_blank" class="divCell">Lecture10.pdf</a>
                        </div>
                        <div class="divRow">
                            <div class="divCell">March 21st (Week 11)</div>
                            <div class="divCell">jQuery, AJAX, & JSON</div>
                            <a href = https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1_handout.pdf target = "_blank" class="divCell">Lecture11.pdf</a>
                        </div>
                        <div class="divRow">
                            <div class="divCell">March 28th (Week 12)</div>
                            <div class="divCell">Previous Final</div>
                            <a href = https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1_handout.pdf target = "_blank" class="divCell">Sample Final.pdf</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <footer>
            <div class = 'footer_text'>
                <div class = footer_link>
                    <a href = "https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target = "_blank"> Faculty of Computer Science @ UofT </a>
                </div>
                <div class = 'footer_blurb'>Website Designed + Developed by Shaahid and Sharon</div>
            </div>
        </footer>  
    </body>
</html>